/* styles/calendar.css */

.custom-daypicker {
  --rdp-cell-size: 40px;
  --rdp-accent-color: var(--primary);
  /* Primary color */
  --rdp-background-color: #ef4444;
  /* Disabled color */
}

.dark .custom-daypicker {
  --rdp-accent-color: var(--primary);
  /* Dark theme primary color */
}

.custom-daypicker .rdp-day {
  border-radius: 6px;
}

.custom-daypicker .rdp-day_disabled {
  color: white;
  font-weight: bold;
}